.grid {
  /* Keyword values */
  grid-auto-columns: min-content;
  grid-auto-columns: max-content;
  grid-auto-columns: auto;
  
  /* <length> values */
  grid-auto-columns: 100px;
  grid-auto-columns: 20cm;
  grid-auto-columns: 50vmax;
  
  /* <percentage> values */
  grid-auto-columns: 10%;
  grid-auto-columns: 33.3%;
  
  /* <flex> values */
  grid-auto-columns: 0.5fr;
  grid-auto-columns: 3fr;
  
  /* minmax() values */
  grid-auto-columns: minmax(100px, auto);
  grid-auto-columns: minmax(max-content, 2fr);
  grid-auto-columns: minmax(20%, 80vmax);
  
  /* fit-content() values */
  grid-auto-columns: fit-content(400px);
  grid-auto-columns: fit-content(5cm);
  grid-auto-columns: fit-content(20%);
  
  /* multiple track-size values */
  grid-auto-columns: min-content max-content auto;
  grid-auto-columns: 100px 150px 390px;
  grid-auto-columns: 10% 33.3%;
  grid-auto-columns: 0.5fr 3fr 1fr;
  grid-auto-columns: minmax(100px, auto) minmax(max-content, 2fr) minmax(20%, 80vmax);
  grid-auto-columns: 100px minmax(100px, auto) 10% 0.5fr fit-content(400px);
  
  /* Global values */
  grid-auto-columns: inherit;
  grid-auto-columns: initial;
  grid-auto-columns: revert;
  grid-auto-columns: revert-layer;
  grid-auto-columns: unset;
  
  
  /* Keyword values */
  grid-auto-rows: min-content;
  grid-auto-rows: max-content;
  grid-auto-rows: auto;
  
  /* <length> values */
  grid-auto-rows: 100px;
  grid-auto-rows: 20cm;
  grid-auto-rows: 50vmax;
  
  /* <percentage> values */
  grid-auto-rows: 10%;
  grid-auto-rows: 33.3%;
  
  /* <flex> values */
  grid-auto-rows: 0.5fr;
  grid-auto-rows: 3fr;
  
  /* minmax() values */
  grid-auto-rows: minmax(100px, auto);
  grid-auto-rows: minmax(max-content, 2fr);
  grid-auto-rows: minmax(20%, 80vmax);
  
  /* fit-content() values */
  grid-auto-rows: fit-content(400px);
  grid-auto-rows: fit-content(5cm);
  grid-auto-rows: fit-content(20%);
  
  /* multiple track-size values */
  grid-auto-rows: min-content max-content auto;
  grid-auto-rows: 100px 150px 390px;
  grid-auto-rows: 10% 33.3%;
  grid-auto-rows: 0.5fr 3fr 1fr;
  grid-auto-rows: minmax(100px, auto) minmax(max-content, 2fr) minmax(20%, 80vmax);
  grid-auto-rows: 100px minmax(100px, auto) 10% 0.5fr fit-content(400px);
  
  /* Global values */
  grid-auto-rows: inherit;
  grid-auto-rows: initial;
  grid-auto-rows: revert;
  grid-auto-rows: revert-layer;
  grid-auto-rows: unset;
}