* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  touch-action: none;
  user-select: none;
  
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* * {
  border: 1px solid #BC00FFD4;
  
} */

#app {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;
  justify-content: center;
  /* align-items: center; */
  
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  a {
    color: #A9BEC6;
  }
}

#app-header {
  /* position: initial; */
  display: flex;
  flex-direction: column;
  gap: 0px;
  /* height: 80px; */
  /* width: 100%; */
  /* padding: 4px; */
  pointer-events: all;
  z-index: 2;
  background: hsla(223, 19%, 23%, 0.27);
  overflow: hidden;
}

#app-header-top {
  /* position: initial; */
  /* display: flex; */
  /* flex-directzion: row; */
  /* align-items: center; */
  gap: 0px;
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  
  
}

#app-header-top-right {
  /* position: initial; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  gap: 2px;
  
  padding: 2px;
  font-size: 12px;
  white-space: nowrap;
  
  
  /* display: grid; */
  /* grid-template-columns: auto 1fr 45px; */
  /* grid-template-rows: 1fr; */
  
}

#app-header-bottom {
  position: initial;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


#app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#app-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  max-width: 600px;
  
  height: 100%;
  padding: 4px;
  margin: auto;
}



body {
  background: #111;
  color: #eee;
  font-family: sans-serif;
  text-align: center;
}

#last-point {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 0px;
  font-size: 12px;
  white-space: nowrap;
}

#fps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 0px;
  font-size: 12px;
  white-space: nowrap;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  
  border: 1px solid #444;
  background: #222222;
  /* margin: 1em auto; */
  display: block;
  cursor: crosshair;
  /* transition: 5s; */
  filter: contrast(1.1) brightness(1);
  /* width: 400px; */
  /* height: 400px; */
  z-index: -1;
}

#viewport {
  /* transition: 0.25s ease-out !important; */
  filter: contrast(1.1) brightness(1.1);
  
  * {
    /* transition: 5.25s ease-out !important; */
    filter: contrast(0.9) brightness(0.9);
    
  }
}

#viewport.fasttrans {
  * {
    transition: 0.0s !important;
  }
}

/* #viewport.notrans {
  transition: 0s;
  
  * {
    transition: 0s;
    
  }
} */


#modeOptions {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 2px 4px;
  opacity: 1;
  transition: opacity 0.5s ease;


  input {
    padding: 2px 4px;
  }
  
  .option-group-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .option-group {
    display: grid;
    grid-template-rows: fit-content 1fr;
    gap: 4px;
    padding: 4px 6px;
    width: 100%;
    background: #2C2D3594;
    border-radius: 20px 10px 20px 10px;
    
    .group-label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0px;
      font-weight: 600;
      font-size: 14px;
      color: #E9E9E9AB;
    }
    
    .group-actions {
      gap: 0px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      font-weight: 600;
      font-size: 14px;
      color: #E9E9E9AB;
    }
  }
}

#snap-links {
  display: flex;
  
  /* display: none; */
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  height: fit-content;
}

#snap-links button {}

.app-button {
  /* margin: 0.5em; */
  padding: 0.1em 0.2em;
  border-radius: 8px;
  border: 1.5px solid #151B27;
  background: #444;
  color: #eee;
  font-size: 15px !important;
  font-weight: 600 !important;
  cursor: pointer;
  width: 100%;
  
  filter: brightness(1.25) contrast(1.8);
  
}

.app-button.active {
  filter: brightness(2) contrast(1.0);
}

.app-button a {
  text-decoration: none;
  color: #F4F4F4;
  font-weight: 700;
  /* font-size: 16px; */
  white-space: nowrap;
}

#compositePath {
  stroke: #D11F1FCC;
  filter: opacity(0.8);
}

.basic-circle {
  /* fill: hsla(170, 100%, 55%, 0.8); */
  stroke: hsla(0, 0%, 100%, 0.5);
}

.plot-line {
  fill: #C42D2D52;
  stroke: hsla(228, 11%, 19%, 0.68);
  stroke-width: 2;
  filter: invert(0) contrast(1.4) brightness(1) hue-rotate(90deg) !important;
  mix-blend-mode: luminosity !important;
  /* transition: 5s ease-in !important; */
}

.basic-rect {
  fill: hsla(170, 100%, 55%, 0.8);
  stroke: hsla(0, 50%, 100%, 0.75);
  filter: invert(1) contrast(1) brightness(0.8);
}

#circleOrbit {
  fill: #22967A96;
  filter: blur(2px);
}

#circleOsc {
  fill: #B019A196;
  filter: blur(2px);
}

#arrow {
  opacity: 0;
}

.hide {
  /* display: none; */
  opacity: 0 !important;
  transition: opacity 0.5s ease-in, display 1s ease allow-discrete;
  /* Add other properties you want to transition, e.g., max-height */
}

.box.open {
  display: block;
  opacity: 1;
}

/* @starting-style {
  .box.open {
    opacity: 0; Define the starting opacity when display changes to block
  }
} */