* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

pre {
  white-space: pre-wrap;
  
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.1s ease-out;
  background: #E1BD34EB;
  /* background: linear-gradient(150deg,
      rgba(174, 120, 45, 0.9) 0%,
      rgba(51, 87, 153, 0.9) 80%); */
  transition: 0.5s;
}

#app * {
  /* border: 1px solid #FF1298; */
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 8px;
  color: #646464D4;
  /* backdrop-filter: invert(1); */
  /* filter: invert(1); */
}

#app-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  gap: 0px;
  overflow-y: scroll;
  padding: 4px;
  /* width: 100%; */
  /* height: 100%; */
  /* 
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
   */
}

svg {
  user-select: none;
  touch-action: none;
  
}

#spinner-group{
  /* transition: 0.125s; */
}
#spinner-center{
  transition: 0.125s;
}
#spinner-arrow{
  transform-origin: top;
}