* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  touch-action: none;
  user-select: none;
  
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

#app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 4px;
  /* overflow-x: hidden; */
  overflow-y: scroll;
}



body {
  background: #111;
  color: #eee;
  font-family: sans-serif;
  text-align: center;
}

svg {
  border: 1px solid #444;
  background: #222;
  /* margin: 1em auto; */
  display: block;
  cursor: crosshair;
  /* transition: 5s; */
  
  /* width: 400px; */
  /* height: 400px; */
}

#viewport {
  /* transition: 11.5s; */
  
  
  
  * {
    /* transition: 11.5s; */
    
    
  }
}

#viewport.notrans {
  transition: 0s;
  
  * {
    transition: 0s;
    
  }
}

#viewport * {
  transition: 8.5s;
}

#modeOptions {
  input {
    padding: 8px;
  }
}

#snap-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  overflow: auto;
  width: 100%;
  height: fit-content;
}

#snap-links button {}

button {
  /* margin: 0.5em; */
  padding: 0.5em 0.5em;
  border-radius: 8px;
  border: none;
  background: #444;
  color: #eee;
  cursor: pointer;
}

button:hover {
  background: #666;
}

button a {
  text-decoration: none;
  color: #F4F4F4;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
}

#compositePath {
  stroke: #D11F1FCC;
  filter: opacity(0.8);
}

.basic-circle {
  /* fill: hsla(170, 100%, 55%, 0.8); */
  stroke: hsla(0, 0%, 100%, 0.5);
  /* filter: invert(0) contrast(1); */
  /* opacity: 0.8; */
  
}

.basic-rect {
  fill: hsla(170, 100%, 55%, 0.8);
  stroke: hsla(0, 50%, 100%, 0.75);
  filter: invert(0) contrast(1) brightness(0.8);
  filter: opacity(0.5);
  
  /* transition: 1s; */
  /* backdrop-filter: invert(1); */
  /* opacity: 0.8; */
}

#circleOrbit {
  fill: #22967A96;
  filter: blur(2px);
}

#circleOsc {
  fill: #B019A196;
  filter: blur(2px);
}

#arrow {
  opacity: 0;
}